* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

#wallpapers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#wallpapers .btn-page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto 1em;
  justify-content: space-evenly;
  align-items: center;
}

#wallpapers .btn-repo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#wallpapers .btn-repo .icon {
  margin: 5px;
}

#wallpapers .text {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto -2em;
}

#wallpapers .text h3 {
  margin: 10px;
}

@media (max-width: 800px) {
  #wallpapers .text {
    width: 100%;
    margin: 5em 2em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/* Estos son los estilos de los cards */

.card-wallpaper {
  display: inline-flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  margin: 5em auto -1em;
}

.card-wallpaper .face {
  width: 400px;
  height: 250px;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.card-wallpaper .face .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto 5px;
}
.card-wallpaper .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card-wallpaper .front .wallpaper {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-wallpaper .front .user {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -13px;
  width: 100%;
  height: 50px;
  margin: 5px auto;
  background-color: rgba(100, 100, 100, 0.52);
}

.card-wallpaper .front .user .profile-image {
  border-radius: 50%;
}

.card-wallpaper .front .user h5 {
  color: #fff;
}

.card-wallpaper .back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 7px 10px #000;
}

.card-wallpaper .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card-wallpaper .back .link a {
  text-decoration: none;
  color: #f3f3f3;
}

.card-wallpaper .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

/* animación de la card */

.card-wallpaper:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card-wallpaper:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

@media (max-width: 800px) {
  .card-wallpaper {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    height: 300px;
    margin: 4em auto -5em;
  }

  .card-wallpaper .face {
    width: 380px;
    height: 250px;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
  }
}
